.apre {
    position: absolute;
width: 1440px;
height: 114px;
left: 0px;
top: 0px;

background: linear-gradient(180deg, #437E70 0%, rgba(67, 126, 112, 0) 100%);
}
.prof{
    position: absolute;
    width: 111px;
    height: 117px;
    left: 73px;
    top: -3px;

}

.oi {
    position: absolute;
    width: 678px;
    height: 39px;
    left: 410px;
   

    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;

   

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.menu {
    font-family: 'Lucida Sans';
    font-size: small; 
    font-size: 12px;
    position: absolute;
    width: 1440px;
    height: 27px;
    left: 0px;
    top: 114px;
    background: #346F61;


}
.menu-local {
    position: absolute;
    width: 1440px;
    height: 54px;
    left: 0px;
    top: 141px;
    background: linear-gradient(180deg, rgba(67, 126, 112, 0) 0%, #437E70 100%);


}
.local{
    height: 39px;
    left: 18px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    /* identical to box height */
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}
.des{
    position: absolute;
width: 339px;
height: 46px;
left: 18px;


font-family: 'M PLUS 2';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 46px;

color: #F5F5F5;

border: 1px solid #FFFAFA;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.lateral1{
    margin: auto;
    position: absolute;
    width: 220px;
    height: 477px;
    left: 0px;
    top: 194px;
    background: linear-gradient(180deg, #437E70 0%, rgba(67, 126, 112, 0) 100%);
}
.turmas{
    position: absolute;
    color: #FFFFFF;
    width: 180px;
    height: 39px;
    left: 18px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    /* identical to box height */
   
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}
.obj{
    font-family: 'Lucida Sans';
    font-style: italic;
    font-size: 20px;
    text-align: justify;
    position: absolute;
    top: 110px;
    width: 200px;
    height: 200px;

}
.turmas-itemvideo{
    top:300px;
    position: absolute;
    color: #FFFFFF;
    width: 180px;
    height: 39px;
    left: 18px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    /* identical to box height */
   
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}

body{
   
    background: #9AC2B9;
    
}
.itens {
    position: absolute;
    margin: auto;
    width: 1000px;
    height: 477px;     
    left: 240px;
    top: 194px;
    
}
.topico{
    color:white;
    
    background: #346F61;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 16px;
    line-height: 39px;
    /* identical to box height */
   
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);


}
.lateral2 {
    position: absolute;
    width: 220px;
    height: 477px;
    left: 1220px;

    top: 194px;
    background: linear-gradient(180deg, #437E70 0%, rgba(67, 126, 112, 0) 100%);

}
.mat1{
    position: absolute;
    color: #FFFFFF;
    width: 180px;
    height: 39px;
    left: 18px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    /* identical to box height */
   
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}
.mat2{
    font-family: 'Lucida Sans';
    font-style: italic;
    font-size: 20px;
    position: absolute;
    top: 110px;
    width: 200px;
    height: 280px;

}

.oficina2{
    margin: auto;
    position: absolute;
    width: 220px;
    height: 477px;
    left: 0px;
    top: 671px;
    background: linear-gradient(180deg, #CB9544 0%, rgba(244, 49, 6, 0) 100%);
}
.objetivo-of2{
    position: absolute;
    color: #FFFFFF;
    width: 180px;
    height: 39px;
    left: 18px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    /* identical to box height */
   
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}
.descricao-of2{
    font-family: 'Lucida Sans';
    font-style: italic;
    font-size: 20px;
    text-align: justify;
    position: absolute;
    top: 587px;
    width: 200px;
    height: 200px;

}
.video-of2{
    top:777px;
    position: absolute;
    color: #FFFFFF;
    width: 180px;
    height: 39px;
    left: 18px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    /* identical to box height */
   
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}


.itens-of2 {
    position: absolute;
    margin: auto;
    width: 1000px;
    height: 477px;     
    left: 240px;
    top: 194px;
    
}
.topico-of2{
    color:white;
    
    background: #F9DCB1;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 16px;
    line-height: 39px;
    /* identical to box height */
   
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);


}
.material-of2{
    position: absolute;
    width: 220px;
    height: 477px;
    left: 1220px;

    top: 671px;
    background: linear-gradient(180deg, #CB9544 0%, rgba(244, 49, 6, 0) 100%);
}
.materiaisof2{
    position: absolute;
    color: #FFFFFF;
    width: 180px;
    height: 39px;
    left: 18px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    /* identical to box height */
   
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}
.descricao-matof2{
    font-family: 'Lucida Sans';
    font-style: italic;
    font-size: 20px;
    position: absolute;
    top: 587px;
    width: 200px;
    height: 280px;

}




.avataraluno{
    width: 150px;
}

.avataralunop{
    width: 250px;
}

.video{
    top: 143px;
    width:  200px;    
}
.foto{
    width:  300px;    
}


.parca{
    color:white;
    font-family: 'Lucida Sans';
    font-size: small; 
    font-size: 12px;
    position: absolute;
    width: 1440px;
    height: 27px;
    left: 0px;
    top: 614px;
    background: #346F61;

    
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 16px;
    line-height: 39px;
    /* identical to box height */
   
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);



}
.linha {
    font-family: 'Lucida Sans';
    font-size: small; 
    font-size: 12px;
    background-color: #BEB883;
}
footer{
    position: absolute;
    margin:auto;
    left: -1px;
    top:1277px;
    width: 1440px;
    height: 27px;
       /*background: #958D4A;*/
       background: #346F61;

}
.lista{
font-family: 'Lucida Sans';
font-size: small; 
text-align: left;
font-size: 12px;
color:#346F61;
position: absolute;
width: 1440px;
height: 114px;

left: -2px;
top: 1470px;
background: linear-gradient(180deg, rgba(67, 126, 112, 0) 0%, #437E70 100%);
}