.apre {
    position: absolute;
width: 1440px;
height: 114px;
left: 0px;
top: 0px;

background: linear-gradient(180deg, #437E70 0%, rgba(67, 126, 112, 0) 100%);
}
.prof{
    position: absolute;
    width: 111px;
    height: 117px;
    left: 73px;
    top: -3px;

}

.oi {
    position: absolute;
    width: 678px;
    height: 39px;
    left: 410px;
   

    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;

   

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.menu {
    font-family: 'Lucida Sans';
    font-size: small; 
    font-size: 12px;
    position: absolute;
    width: 1440px;
    height: 27px;
    left: 0px;
    top: 114px;
    background: #346F61;


}
.des{
    position: absolute;
width: 339px;
height: 46px;
left: 18px;


font-family: 'M PLUS 2';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 46px;

color: #F5F5F5;

border: 1px solid #FFFAFA;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.lateral1{
    position: absolute;
    width: 220px;
    height: 477px;
    left: 0px;
    top: 141px;
    background: linear-gradient(180deg, #437E70 0%, rgba(67, 126, 112, 0) 100%);
}
.turmas{
    position: absolute;
    width: 200px;
    height: 39px;
    left: 22px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    /* identical to box height */
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}
.obj{
    position: absolute;
    top: 161px;
    width: 215px;
    height: 280px;

}
body{
   
    background: #F5F5F5;
    font-family: 'Lucida Sans';
    font-size: small; 
    color: #fdfdfd;
    text-align: center;
    display: inline;
    font-size: 14px;
}
.itens {
    margin:auto;
    width: 1000px;
    height: 477px; 
    
}
.lateral2 {
    position: absolute;
    width: 220px;
    height: 477px;
    left: 1220px;

    top: 141px;
    background: linear-gradient(180deg, #437E70 0%, rgba(67, 126, 112, 0) 100%);

}

.avataraluno{
    width: 150px;
}

.avataralunop{
    width: 250px;
}

.video{
    top: 143px;
    width:  200px;    
}
.foto{
    width:  100px;    
}


.local{
    position: absolute;
width: 545px;
height: 35px;
left: 447px;

background: #346F61;

}
.parca{
    font-family: 'Lucida Sans';
    font-size: small; 
    font-size: 12px;
    position: absolute;
    width: 1440px;
    height: 27px;
    left: 0px;
    top: 614px;
    background: #346F61;
}
.linha {
    font-family: 'Lucida Sans';
    font-size: small; 
    font-size: 12px;
    background-color: #BEB883;
}
footer{
    position: absolute;
    margin:auto;
    left: -1px;
    top:900px;
    width: 1440px;
    height: 27px;
       /*background: #958D4A;*/
       background: #346F61;

}
.lista{
font-family: 'Lucida Sans';
font-size: small; 
text-align: left;
font-size: 12px;
color: #B1A640;

position: absolute;
width: 1440px;
height: 114px;

left: -2px;
top: 930px;
background: linear-gradient(180deg, rgba(67, 126, 112, 0) 0%, #437E70 100%);

